@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

body{
    background-image: url(bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Darumadrop One', cursive !important;
}

.bg1{
    background-image: url(bg2.png
    );
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
    border-radius: 20px;
}

.bg2{
    background-image: url(bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    color: white;
    padding: 20px 10px;
}

.bg2 h3 h2{
    color: white;
    filter: opacity(1.0) !important;
}

.fa-brands{
    color: rgb(237, 254, 255);
    font-size: 30px;
}

.fa-music{
    color: #adff8d;
    font-size: 25px;
}

.fa-fan{
    color: #ffce8d;
    font-size: 25px;
}

.fa-flag{
    color: #8deeff;
    font-size: 25px;
}

.fa-kiwi-bird{
    color: #db8dff;
    font-size: 25px;
}

.fa-face-smile-wink{
    color: #8df2ff;
    font-size: 25px;
}

.fa-face-tired{
    color: #ff8d8d;
    font-size: 25px;
}

.texto{
    color: #fff;
    font-size: 30px;
}

.fawesome{
    display: inline-block;
    font-family: 'Darumadrop One', cursive !important;
}
